@import url(https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Klee+One:wght@600&family=Yomogi&display=swap);

div, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
 }

body {
    background-color: lightblue;
    font-family: 'Yomogi', cursive;
    margin: 0;
    min-height: 100vh;
}

#root {
    height: 100%;
}

.input {
    border: 0;
    color: lightblue;
    font-family: 'Yomogi', cursive;
    height: 25px;
}

.button {
    border: 1px solid lightblue;
    cursor: pointer;
    font-family: 'Yomogi', cursive;
    padding: 2px 10px;
}

.button.primary {
    background-color: lightblue;
    color: white;
}

.button.secondary {
    background-color: white;
    color: lightblue;
}

.icon:hover {
    color: lightblue;
    cursor: pointer;
    transition: color .2s;
}
